$clr-50:#f9fafb;
$clr-100:#f3f4f6;
$clr-200:#e5e7eb;
$clr-300:#d1d5db;
$clr-400:#9ca3af;
$clr-500:#6b7280;
$clr-600:#4b5563;
$clr-700:#374151;
$clr-800:#1f2937;
$clr-900:#111827;
$clr-950:#030712;




$drk-50:#030712;
$drk-100:#1f2937;
$drk-200:#374151;
$drk-300:#374151;
$drk-400:#6b7280;
$drk-500:#9ca3af;
$drk-600:#d1d5db;
$drk-700:#e5e7eb;
$drk-800:#f3f4f6;
$drk-900:#f9fafb;
$drk-950:#ffffff;

$Emerald-500:#10b981;

